/* основной #212121 */
/* второстепенный #2196F3 */
/* дополнительный #fff */
/* задний фон #fff; */
:root {
  --brand-color: #212121;
  --accent-color: #2196f3;
  --contact-color: #757575;
  --background-color: #fff;
  --accent-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --header-background-color: #fff;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--brand-color);
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.page-header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
}
.section-navigation {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: 93px;
}

.header-nav__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-nav__item:not(:last-child) {
  margin-right: 53px;
}

.section-navigation__logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.section-navigation__logo-wrap {
  color: #000;
}
.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--brand-color);
}
.header-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
.header-nav__link--current::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-color);
}
.contact-list {
  display: flex;
  margin-left: 305px;
  padding-left: 0;
}
.contact-list__item {
  display: block;
}
.contact-list__item:last-child {
  margin-left: 30px;
}

.contact-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--contact-color);
  fill: var(--contact-color);
  letter-spacing: 0.02em;
}
.contact-list__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__icon {
  margin-right: 10px;
}

.contact-list__link:hover,
.contact-list__link:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* Main portfolio */

.section-filter {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-filter__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
  padding-left: 0;
}
.section-filter__item:not(:last-child) {
  margin-right: 8px;
}

.section-filter__button {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.section-filter__button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-background-color);
  cursor: pointer;
  color: var(--brand-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-filter__button:hover,
.section-filter__button:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Карточки Портфолио */

.category-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
}
.category-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-list__item:nth-child(-n + 3) {
  margin-top: 0;
}

.category-list__item {
  flex-basis: calc((100% - 60px) / 3);
  margin-top: 30px;
  margin-right: 30px;
  width: 370px;
}
.category-list__item:nth-child(3n) {
  margin-right: 0;
}

.category-list__link:focus,
.category-list__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.category-list__link {
  position: relative;
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-list__text {
  color: var(--contact-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.category-list__subtitle {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.category-list__container-text {
  margin: 0;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.category-list__thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-list__thumb::before {
  position: absolute;
  content: '';
  display: inline-block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category-list__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.category-list__link:hover .category-list__thumb::before,
.category-list__link:focus .category-list__thumb::before {
  transform: translateY(0);
}
.category-list__link:hover .category-list__overlay-text,
.category-list__link:focus .category-list__overlay-text {
  transform: translateY(0);
}

/* Footer */
.page-footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}
.page-footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--background-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.logo-navigation-footer {
  color: var(--header-background-color);
  margin-left: auto;
}
.page-footer__contact {
  margin-top: 20px;
}
.page-footer__list {
  margin-left: auto;
  padding-left: 0;
  margin-top: 9px;
}
.page-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.page-footer__icon-list {
  display: flex;
  align-items: center;
  padding: 0;
}
.section-team__item-icon:not(:last-child) {
  margin-right: 10px;
}

.section-team__item-icon .page-footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--header-background-color);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__icon:hover,
.page-footer__icon:focus {
  background-color: var(--accent-color);
}

.page-footer__text {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
  font-style: normal;
  margin-left: auto;
}
.page-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__link:focus,
.page-footer__link:hover {
  color: var(--accent-color);
}

.page-footer__social-wrap {
  margin-left: 70px;
}

.page-footer__submit-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 20px;
}
.page-footer__submit-wrapper {
  margin-left: 93px;
}
.page-footer__signup-form {
  display: flex;
}
.page-footer__area-email {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: white;
}

.page-footer__submit-button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  cursor: pointer;
}

.page-footer__icon-send {
  margin-left: 10px;
}

/* Main Studio */
/* Hero Main */
.hero-section {
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-background.jpg);
}

.hero-section__title {
  margin-top: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--header-background-color);
  text-transform: uppercase;
  width: 696px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-section__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: block;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--header-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: #188ce8;
  color: var(--header-background-color);
}
/* Backdrop Modal window */
.modal-overlay {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-overlay.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-overlay__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-section__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-section__close:hover,
.modal-section__close:focus {
  fill: var(--accent-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.modal-form__field:focus-within > .modal-form__icon {
  fill: var(--accent-color);
}
.modal-form__field:focus-within > .modal-form__input {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label {
  position: absolute;
  top: -50%;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(-50%);
}
.modal-form__label-area {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.modal-form__label-area:focus-within > .modal-form__area {
  border-color: var(--accent-color);
  outline: white;
}
.modal-form__area {
  display: block;
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-form__text {
  position: absolute;
  top: -18px;
  left: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.modal-form__check {
  position: relative;
  margin-left: auto;
  margin-right: 51px;
  margin-bottom: 30px;
}
.modal-form__input-check ~ .modal-form__icon-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input-check:checked ~ .modal-form__icon-check {
  background-color: var(--accent-color);
  fill: var(--accent-color);
  background-image: url(../images/icons/iconcheck.svg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__link {
  color: var(--accent-color);
}
.modal-form__icon-check {
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%);
}
.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.modal-form__button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;

  width: 200px;
  height: 50px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__button:hover,
.modal-form__button:focus {
  background-color: #188ce8;
}

/* Properties main */
.section-properties {
  background-color: var(--background-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-properties__list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
.properties-title {
  margin: 0;
}
.section-properties__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--accent-background-color);
  margin-bottom: 30px;
}

.section-properties__item:not(:last-child) {
  margin-right: 30px;
}
.section-properties__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-properties__text {
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

/* About main */
.about-us {
  background-color: var(--background-color);
  padding-bottom: 94px;
}
.about-us__list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
.about-us__item {
  position: relative;
  z-index: 1;
}

.about-us__item:not(:last-child) {
  margin-right: 30px;
}
.about-us__title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.about-us__wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.about-us__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}
/* Team main */
.section-team {
  background-color: var(--accent-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team__list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
}
.section-team__item:not(:last-child) {
  margin-right: 30px;
}
.section-team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team__title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-team__card-content {
  text-align: center;
  padding: 30px 32px;
  background-color: var(--header-background-color);
}
.section-team__icon-thumb {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.section-team__item-icon:not(:last-child) {
  margin-right: 10px;
}

.section-team__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team__icon:hover,
.section-team__icon:focus {
  background-color: var(--accent-color);
  fill: var(--header-background-color);
}

.section-team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.section-team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--contact-color);
}

/*  Clients Main */
.section-clients {
  padding-top: 99px;
  padding-bottom: 94px;
  background-color: var(--header-background-color);
}
.section-clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__border {
  fill: inherit;
}

.section-clients__list {
  display: flex;
}
.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  text-align: center;
  margin-bottom: 51px;
}

.section-clients__item:hover,
.section-clients__item:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.section-clients__icon {
  display: block;
}

.section-clients__item:not(:last-child) {
  margin-right: 30px;
}
.section-clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* давай js работай */
